<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mm.system.mapper.CustomApiLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mm.system.domain.ApiLogPO">
        <id column="id" property="id"/>
        <result column="api_path" property="apiPath"/>
        <result column="req_param" property="reqParam"/>
        <result column="app_id" property="appId"/>
        <result column="app_account" property="appAccount"/>
        <result column="service_id" property="serviceId"/>
        <result column="service_name" property="serviceName"/>
        <result column="result" property="result"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

</mapper>
