<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mm.system.mapper.ServiceAuthorizationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mm.system.domain.ServiceAuthorizationPO">
        <id column="id" property="id"/>
        <result column="service_id" property="serviceId"/>
        <result column="app_id" property="appId"/>
        <result column="service_type" property="serviceType"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
        <result column="restriction" property="restriction"/>
        <result column="authorization_code" property="authorizationCode"/>
        <result column="trust_list" property="trustList"/>
        <result column="authorization_status" property="authorizationStatus"/>
        <result column="limit_total" property="limitTotal"/>
        <result column="open_auth" property="openAuth"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>


    <resultMap id="PageResultMap" type="com.mm.system.domain.dto.ServiceAuthorizationDTO">
        <id column="id" property="id"/>
        <result column="service_id" property="serviceId"/>
        <result column="service_name" property="serviceName"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
        <result column="restriction" property="restriction"/>
        <result column="trust_list" property="trustList"/>
        <result column="authorization_status" property="authorizationStatus"/>
        <result column="authorization_code" property="authorizationCode"/>
        <result column="limit_total" property="limitTotal"/>
        <result column="open_auth" property="openAuth"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, service_id, app_id, begin_time, end_time, restriction, authorization_code, trust_list, authorization_status, trust_list, create_time, create_by, update_time, update_by,
    </sql>

    <select id="pageQuery" resultMap="PageResultMap">
        SELECT
            sa.id,
            sa.service_id,
            sa.app_id,
            sa.service_type,
            sa.begin_time,
            sa.end_time,
            sa.restriction,
            sa.authorization_code,
            sa.trust_list,
            sa.authorization_status,
            sa.limit_total,
            sa.open_auth,
            ps.service_name
        FROM
            service_authorization sa
        LEFT JOIN platform_service ps on sa.service_id = ps.id
        <where>
            <if test="param.serviceId != null and param.serviceId != '' ">
                and sa.service_id = #{param.serviceId}
            </if>
            <if test="param.appId != null and param.appId != '' ">
                and sa.app_id = #{param.appId}
            </if>
        </where>
        order by sa.end_time desc , sa.begin_time desc
    </select>
</mapper>
